Find the notion [here](https://fancy-falcon-0ce.notion.site/23_09_26-ff0152e9c0514515bec6ad6d96139ba6?pvs=4)

# How to write code?

In [ ]:
#The comments will start with a "#"
#Data type:
# Int
2

# float
2.4
# String
"hello"

# Boolean
True

# Big calculator

Using print will show the result of the computation even if it's not the last line written

In [ ]:
print(2+2)
print("Hello world")

4

'Hello World'

Not using the function print() will show only the last row

In [ ]:
2+2
"Hello World"

In [ ]:
# What happen?
print(2+"2")
# Error: Because the data types are not matching

TypeError: ignored

In [ ]:

print("2"+"2")
# Concatenate 2 strings

print("My name is"+" "+"Gamma")

# Let's start with variables


<font color="#FF0000">**Warning**:</font> Python is case sensitive. Hence `TRUE` is not the same as `True`.

In [ ]:
x= 1
print(x)

#A

1

# Functions
Functions are scripts that are written to execute something specifif

In [ ]:
#In a sentece my function wiil return an age and a name
def age_name(age, name):
  res = "My age is "+str(age)+" and my name is " +str(name)
  return(res)

print(age_name(23,"Yamine"))
age_name(name="Yamine", age=23)

My age is 23 and my name is Yamine

'My age is 23 and my name is Yamine'

# Local and global variable and  how to define a function

Global environment variables are the ones define outside the functions. They are the first value check outside a function.

Local environment variables are the ones define **inside a function**. They are the first value inside the function where they were defined.

In [ ]:
# res = 0 is the global variable
# it will show this assignment to res
# no matter what are the names of the variables inside the function
res= 0
def add_1(var_int):
  """
  La fonction add_1, va ajouter 1 à une valeur numérique
  """
  res = var_int+5
  return(res)

add_1(0)

def add_1(var_int=0):

  res = 0+5
  return(5)
res


result= 0
def add_1(var_int):
  result = var_int+1
  return(result)

add_1(1)

2

# Conditional statement

In [ ]:
# if _cdn1 is true_:
#    _action1_
#    else:
#    _action2_
age = 16
if age<18:
  res= "minor"
else:
  res= "major"

print(res)
#5 switch from one function to the other one depending on which currency you want convert

def euro_dollars(amount_euros) :

  final_amount = amount_euros * 1.06
  return final_amount

def dollars_euro(dollar):
    return dollar * 0.84

def convert_dollar_euro(amount, is_dollar=True):
  if is_dollar:
     res = dollars_euro(amount)
  else:
     res=euro_dollars(amount)
  return(res)


print(convert_dollar_euro(3))
print(convert_dollar_euro(3,False))

minor
2.52
3.18

# How to use a function

In [ ]:
# round works only with numbers
round("ok","okokok")

# len works only with string
len(324)

TypeError: ignored

In [ ]:
# minimum
min(3,4,5,2,5)

# maximum
max(3,4,5,2,5)

# count the number of characters
len("coucou ca va?")

# to transform to string
str(9)

# to transform to an integer
int("9")

# Add a doc string to a function
# doc string means documentation of the function
def convert_dollar_euro(amount, is_dollar=True):
  """

  The function convert_dollar_euro has 2 arguments:
  amount: is the amount that you have to convert
  is_dollar: is the currency of your amount.
  If is_dollar is true, you will convert in euro.
  If not, you will convert in dollar

  """
  if is_dollar:
     res = dollars_euro(amount)
  else:
     res=euro_dollars(amount)
  return(res)
# To help you to understand a function
help(convert_dollar_euro)

Help on function convert_dollar_euro in module __main__:

convert_dollar_euro(amount, is_dollar=True)
    The function convert_dollar_euro has 2 arguments:
    amount: is the amount that you have to convert
    is_dollar: is the currency of your amount.
    If is_dollar is true, you will convert in euro.
    If not, you will convert in dollar

In [ ]:

int("9")

9