<a href="https://colab.research.google.com/github/axgervais/hands_on_coding_project/blob/main/Gamma_Python_fundamentals_23_09_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WHILE LOOP

In [ ]:
# for loop print from 1 to 10
print("For loop")
for i in range(1,11):
  print(i)


# while loop print from 1 to 10
print("While loop")
i=1
while i<11:
  print(i)
  i=i+1 # i+=1 la mÃªme chose

For loop
1
2
3
4
5
6
7
8
9
10
While loop
1
2
3
4
5
6
7
8
9
10

In [ ]:
def n_print(n,odd_or_even):
    i = 1
    while i<=n:
      if odd_or_even == "impair" and i%2!=0:
            print(i)
      elif odd_or_even == "pair" and i%2==0:
            print(i)
      i=i+1

n_print(19,"impair")


# we can stop the loop by adding a break keyword in a while or a for loop
# to prevent errors or infinite loops

def n_print(n,odd_or_even):
    i = 1
    while i<=n:
      if odd_or_even == "impair" and i%2!=0:
            print(i)
      elif odd_or_even == "pair" and i%2==0:
            print(i)
      elif odd_or_even != "pair" and odd_or_even != "impair":
        print("error in odd_or_event parameter")
        break
      i=i+1

n_print(19,"imopair")

1
3
5
7
9
11
13
15
17
19
error in odd_or_event parameter
3
3
3
3
3

## Rappel: Local and global variable

In [ ]:
# i is define as a global variable and his value is 3
# i is used as a variable in the for loop and takes the value of range(5)
# The i in the for loop is a local variable
# The print statement will first look for a local i variable
# and if it doesn't exist it will look for a global one

# example 1 where the printed value is the local variable
i = 3
for i in range(5):
  print(i)


# example 2 where the printed value is the global variable
i = 3
for j in [0,True,0,i,"2",2,2,2]:
  print(i)

0
1
2
3
4
3
3
3
3
3
3
3
3

# Dictionary

In [ ]:
area_size = [11.25, 18.0, 20.0, 10.75, 9.50, 9.50]
area_name = ["hallway", "kitchen", "living room", "bedroom", "bathroom", "poolsize"]

# created a dictionary
dict_area = dict()
dict_area = {"hallway":11.25, "kitchen":18}
print(dict_area)
# return the value associated to kitchen
dict_area["kitchen"]

dict_area = {"Tarzs":[20, 20, 15], "Yasmine":[18,20]}
dict_area["Tarzs"][1]

dict_area = {"hallway":11.25, "kitchen":18}
dict_area

new_dict = dict()

# method 1
for i in range(len(area_name)):
  new_dict[area_name[i]]=area_size[i]



print(new_dict)

{'hallway': 11.25, 'kitchen': 18}
{'hallway': 11.25, 'kitchen': 18.0, 'living room': 20.0, 'bedroom': 10.75, 'bathroom': 9.5, 'poolsize': 9.5}

In [ ]:
def lower_dict(new_dict):
  # transform the keys to a list and lowercase them
  key = new_dict.keys()
  key_list = list(key)
  lower_key_list = [unit_key.lower() for unit_key in key_list]

  # transform the values to a list
  value_list = list(new_dict.values())

  # key = list(new_dict.keys()).lower()
  # create a dictionary
  new_dict = dict()
  for i in range(len(value_list)):
    new_dict[lower_key_list[i]]=value_list[i]
  return new_dict

lower_dict({"Coco":2, "Banane":5, "Fraise":25})


def lower_dict(new_dict):
  # transform the keys to a list and lowercase them
  key_list = list(new_dict.keys)
  lower_key_list = [unit_key.lower() for unit_key in key_list]

  # transform the values to a list
  value_list = list(new_dict.values())

  # key = list(new_dict.keys()).lower()
  # create a dictionary
  new_dict = dict()
  for i in range(len(value_list)):
    new_dict[lower_key_list[i]]=value_list[i]
  return new_dict

{'coco': 2, 'banane': 5, 'fraise': 25}

In [ ]:
type(dict_area.keys())

dict_keys

# Handle string like a list

In [ ]:
name ="Albert"
type(name)

name[0:3]

'Alb'

# Tuple

In [ ]:
x=(1,2)
print(x)
type(x)
x[0]
x[1]

aire_rect = (5,10,5,5,5,5,True, "coucou")

l,L = (5,10)
print("La longueur est",L)
print("La largeur est",l)


# 2 Write a Python function that takes a dictionary as input and
# returns a new dictionary where all the values have been doubled.

def double_val_dic(dico):
  new_dict = {}
  for dict_item in list(dico.items()):
    new_dict[dict_item[0]]= 2*dict_item[1]
  return new_dict

double_val_dic({1:1, 2:2, 3:3})

aire_rect.index(True)

(1, 2)
La longueur est 10
La largeur est 5

6

## Set

In [ ]:
s = set()
s = {}

s1 = {2,4,5}
s2 = {2,6,9}
l = [2,2,2,2,4,5]
s_to_l = set(l)
print(l)
print(len(l))
print(s_to_l)
print(len(s_to_l))

s1.difference()

[2, 2, 2, 2, 4, 5]
6
{2, 4, 5}
3

{2}

In [ ]:
[('Marcus Garvey Park', ('Black', 'Cinnamon', 'Cleaning', None)),
 ('Highbridge Park',
  ('Gray',
   'Cinnamon',
   'Running, Eating',
   'Runs From, watches us in short tree')),
 ('Madison Square Park', ('Gray', None, 'Foraging', 'Indifferent')),
 ('City Hall Park', ('Gray', 'Cinnamon', 'Eating', 'Approaches')),
 ('J. Hood Wright Park', ('Gray', 'White', 'Running', 'Indifferent')),
 ('Seward Park', ('Gray', 'Cinnamon', 'Eating', 'Indifferent')),
 ('Union Square Park', ('Gray', 'Black', 'Climbing', None)),
 ('Tompkins Square Park', ('Gray', 'Gray', 'Lounging', 'Approaches'))]

# Boolean

It will work exactly like the **WHERE** clause in SQL

In [ ]:
def is_even(number):
    return number % 2 == 0

print(is_even(2))
print(is_even(3))

True
False

# List
the list are composed of different elements called items

In [ ]:
# the type is list
type([1,2,3,4,7])

# assign l to a list
l = [1,2,3,4,7,5]

# check what is the first value of l
l[0]

# let's change the 3rd value to 1
l[2] = 1
l

# let's see the value of the last element
l[-1]

# let's see all the elements before the last one
l[:-1]
l[0:-1] # Galaad

# let's see all the elements from the 3 position to the end
l[2:]


# let's reverse the order of the list l
l[::-1]

# let's take the 2 first elements and reverse the order
l[0:2][::-1]
l[0:2:-1] # doesn't work because first it reverse the list
l[0:2:-1]

# slice the list. Let's work only on the sub list from the 1st to the 3rd position
l[0:2] # Going from position 1 to position 2
l[0:3] # Going from position 1 to position 3
[l[0],l[3]] # Taking only values of position 1 and position 4

# Create a list with boolean, int, float and string
new_list = [True,1,2.5,"abc"]
new_list

# Create a list of a list

even_odd_list = [1,3,5,7,2,4,6]
even_odd_list = [[1,3,5,7],[2,4,6]]
# Retrieve the 2nd element of the 2nd list
even_odd_list[1][1]

new_list = [[1,3,5,7],[2,4,[1,3,5,7],[2,4,6],6],[2,4,6]]

[1, 2, 'e']
[1, 2, 'e', 'Hello']
[1, 2, 'e']
[2, 'e']

In [ ]:
l = [1,2,3,4,7]
new_l = l[2::-1]
new_l

[3, 2, 1]

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = ["hallway", hall, "kitchen", kit, "living room", liv,
         "bedroom", bed, "bathroom", bath]

areas[-4:]
areas[:-2]

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75]

## The methods

In [ ]:
new_list2 = [1,2,"e"]
print(new_list2)
# ajouter l'item "Hello"
new_list2.append("Hello")
print(new_list2)

# Enlever le dernier item ajoutÃ© dans la liste
new_list2.pop()
print(new_list2)

# To know the index, we use the index method
# I want to the position of "e"
new_list2.index("e")

# To remove one specific element
# Let's remove 1
new_list2.remove(1)
print(new_list2)

# Condition statement
With more than 2 options

In [ ]:

def surface_room(room_name):
 if room_name== "hallway" :
   res = hall
 elif room_name == "kitchen" :
   res = kit
 elif room_name == "living room" :
   res = liv
 elif room_name == "bathroom" :
   res = bath
 elif room_name == "bedroom" :
   res = bed
 else :
   res = "Try again with a correct room name"
 return res

print(surface_room("bedroom"))
print(surface_room("BEDROOM"))

10.75
Try again with a correct room name

45

# For LOOP

In [ ]:
areas_name = ["hallway", "kitchen", "living room", "bedroom", "bathroom"]

def surface_room (room_name) :
  room_name = room_name.lower()
  if room_name =="hallway":
    result = hall
  elif room_name =="kitchen":
        result = kit
  elif room_name =="living room":
         result = liv
  elif room_name =="bathroom":
        result = bath
  elif room_name =="bedroom":
        result = bed
  else :
      result ="Try again with a correst room name"
  return result

surface_room("hall")
surface_room("kit")
surface_room("liv")

#for i in areas_name:
#  print(i,": ", surface_room(i))


for i in range(len(areas_name)):
  print(surface_room(areas_name[i]))

11.25
18.0
20.0
10.75
9.5

## List Comprhension

In [ ]:
surface_list =[]
for i in areas_name:
  surface_list.append(surface_room(i))

# list comprehension
print([surface_room(room) for room in areas_name])

# add a condition
print(areas_name)
[surface_room(room) for room in areas_name if len(room)<10 and len(room)>7]

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', 'kitchen', 'living room', 'bedroom', 'bathroom']

[9.5]

In [ ]:
max = list[0]
max

list[0]